// *{
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }
@import "./variables";
@import "./helpers";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

// variables



// Global Styles

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

// heading

.hero {
  height: 811px;

  position: relative;

  header {
    z-index: 1;

    .items {
      display: flex;
      color: white;
      width: 50%;
      justify-content: space-between;

    }

    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        width: 11.8125rem;

        img {
          width: 100%;
        }
      }

      &-list {


        list-style: none;
        display: flex;
        margin: 0;
        box-sizing: border-box;

        .nav-item {
          margin-inline: 1rem;

          .nav-link {
            text-decoration: none;
            color: inherit;
          }
        }
      }

    }
  }

  .banner {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    &_inner {

      display: flex;
      height: 700px;

      .left {
        flex: 1;
        display: flex;
        align-items: center;

        &_wrapper {
          height: 70%;
          width: 100%;

          &-container {
            width: 548px;
            position: relative;

            p {
              font-size: 3rem;
              font-weight: 900;
              line-height: 58.09px;
            }

            .arrow-curve {
              position: absolute;
              right: 30%;
              bottom: 10%;
            }

          }
        }

      }

      .right {
        background: $primary;
        flex: 1;
        display: flex;
        align-items: center;

        &_wrapper {
          height: 70%;
          width: 100%;
          position: relative;

          img {
            width: 100%;
          }

          .image-1 {
            width: 466px;
            position: absolute;
            left: -7%;
          }

          .image-2 {
            width: 359px;
            position: absolute;
            bottom: 0;
            right: 134px;
          }
        }
      }
    }
  }
}

.blog {
  display: flex;
  justify-content: space-between;

  .video {
    width: 36.375rem;
    height: 41.5rem;

    video {
      width: 100%;
    }
  }

  .blog-right {

    //  margin: 4.6875rem;
    &-heading {
      width: 40.0625rem;
      font-weight: bold;
      font-size: 3rem;
    }

    &-info {
      width: 35.75rem;
      font-size: 1.125rem;
    }
  }
}

.report {
  background-color: $primary;
  width: 100%;

  &-header {
    width: 21.875rem;
    height: 4.8125rem;
  }

  &-media {
    width: 100%;
  }

  &-img {
    display: flex;
    justify-content: space-around;

    &_img {
      background-color: #F4F4F4;
      height: 26.5rem;
      width: 100%;
      // margin-inline: 2.25rem;
      // border: 1px solid #02250A;
      border-radius: 8px;

      .img {
        img {
          width: 276px;
        }
      }

      .report-img-caption {
        display: flex;

        .caption {
          font-weight: 500;
          color: $primary;
          font-size: 1.125rem;
        }

        .date {
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #5E5E5E;
        }
      }

      .report-txt {
        width: 17.125rem;
        font-size: 0.9375rem;
        line-height: 1.1344375rem;

        .report-foot {
          font-size: 16px;
          font-weight: 500;
          line-height: 19px;
          letter-spacing: 0rem;
          text-align: left;
          color: $primary;

        }
      }

    }

  }
}

.view {
  width: 100%;
  .view-header {
    width: 44.0625rem;

    p {
      width: 100%;
      font-weight: bold;
      font-size: 3rem;
    }
  }

  &-img {
    display: flex;
    img {
      width: 19.8125rem;
      height: 16.0625rem;
    }
  }
}