@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.text-center {
  text-align: center;
}

.container {
  width: 100%;
  padding-inline: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  all: unset;
  padding: 1.5rem 4.375rem;
  border-radius: 5px;
}

.btn.primary {
  background-color: #02250A;
  color: white;
}

.btn.white {
  background-color: white;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  width: 90rem;
}

.hero {
  height: 811px;
  position: relative;
}

.hero header {
  z-index: 1;
}

.hero header .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero header .nav .logo {
  width: 11.8125rem;
}

.hero header .nav .logo img {
  width: 100%;
}

.hero header .nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero header .nav-list .nav-item {
  margin-inline: 1rem;
}

.hero header .nav-list .nav-item .nav-link {
  text-decoration: none;
  color: inherit;
}

.hero .banner {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.hero .banner_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
}

.hero .banner_inner .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .banner_inner .left_wrapper {
  height: 70%;
  width: 100%;
}

.hero .banner_inner .left_wrapper-container {
  width: 548px;
  position: relative;
}

.hero .banner_inner .left_wrapper-container p {
  font-size: 3rem;
  font-weight: 900;
  line-height: 58.09px;
}

.hero .banner_inner .left_wrapper-container .arrow-curve {
  position: absolute;
  right: 30%;
  bottom: 10%;
}

.hero .banner_inner .right {
  background: #02250A;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .banner_inner .right_wrapper {
  height: 70%;
  width: 100%;
  position: relative;
}

.hero .banner_inner .right_wrapper img {
  width: 100%;
}

.hero .banner_inner .right_wrapper .image-1 {
  width: 466px;
  position: absolute;
  left: -7%;
}

.hero .banner_inner .right_wrapper .image-2 {
  width: 359px;
  position: absolute;
  bottom: 0;
  right: 134px;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog .video {
  width: 36.375rem;
  height: 41.5rem;
}

.blog .video video {
  width: 100%;
}

.blog .blog-right-heading {
  width: 40.0625rem;
  font-weight: bold;
  font-size: 3rem;
}

.blog .blog-right-info {
  width: 35.75rem;
  font-size: 1.125rem;
}

.report {
  background-color: #02250A;
  width: 100%;
}

.report-header {
  width: 21.875rem;
  height: 4.8125rem;
}

.report-media {
  width: 100%;
}

.report-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.report-img_img {
  background-color: #F4F4F4;
  height: 26.5rem;
  width: 100%;
  border-radius: 8px;
}

.report-img_img .img img {
  width: 276px;
}

.report-img_img .report-img-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.report-img_img .report-img-caption .caption {
  font-weight: 500;
  color: #02250A;
  font-size: 1.125rem;
}

.report-img_img .report-img-caption .date {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
}

.report-img_img .report-txt {
  width: 17.125rem;
  font-size: 0.9375rem;
  line-height: 1.1344375rem;
}

.report-img_img .report-txt .report-foot {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0rem;
  text-align: left;
  color: #02250A;
}

.view {
  width: 100%;
}

.view .view-header {
  width: 44.0625rem;
}

.view .view-header p {
  width: 100%;
  font-weight: bold;
  font-size: 3rem;
}

.view-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.view-img img {
  width: 19.8125rem;
  height: 16.0625rem;
}
/*# sourceMappingURL=index.css.map */